*{ /*BODY*/
   margin: 0px;
}
body{
    background-color: rgb(224, 250, 228);
}

/*CABEÇALHO*/
header{
   background-color: rgb(255, 219, 239);
   width: 100%;
   height: 50px;
  
}
#topo{
    width: 100%;
    height: auto;
    display:flex;
}
#topoES{
    
}
#topoDI{
     padding-left: 55%;
     padding-top: 15px;
}

/*MENU DE OPÇÕES*/
nav{
    color:white;
    width: 100%;
    height: auto;
    margin-left: 90%;
    display:flex;
  
}
nav ul li{
      display: inline; /*display para colocar um do lado do outro*/
      padding-left: 40px;
      color:white;
     
}
nav ul li a{
  text-decoration: none;
  color:black;
   
}
nav ul li a:hover{
    text-decoration: none;
    color: white;
     
  }


/*IMAGENS*/
#imgLOGOIF{
    width: 40px;
    height: auto;
    padding-top: 5px;
}

#imgNatalia{
    width: 300px;
    height: auto;
   
    border-radius: 20px;
}
#imgLupa{
    width: auto;
    height: 100px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
}
#imgCompu{
    width: auto;
    height: 100px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
}

/*INDEX - INICIO*/
#centro{
    display:flex;
    padding-left: 15%;
    padding-top: 5%;
}
#direito{
    border-radius: 10px;
  margin-right: 20px;

    
}
#esquerdo{
    padding-left: 50px;
    padding-top: 50px;
    border-radius: 10px;
}


/*PORTIFOLIO*/*
#centroP{
 
   width: 50%;
   display: flex;
}
#botaoCP button{
    width: 100%;
    height: 30px;
    color: white;
    background-color: black;
}
  
#esquerdoP{
    background-color: white;
    width: 22%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    margin-right: 5%;
    box-shadow: 5px 5px rgb(99, 93, 93);
}

#direitoP{
    background-color: white;
    width: 22%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    margin-left: 5%;
    box-shadow: 5px 5px rgb(99, 93, 93);
}

/*CONTATO*/
#textoContato{
    background-color: rgb(224, 250, 228);
    width: 50%;
    height: auto;
    border-radius: 30px;
    margin-left: 30%;
    margin-top: 80px;
   
}
#textoContato input[type = nome],input[type = email]
{
    width: 70%;
    height: auto;
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 0px;

    border-width: 1px; /*TAMANHO DA BORDA*/
   border-radius: 5px; /*arredonda*/
   margin-bottom: 5px; /*espaço entre os botões*/
}
#textoContato textarea{
     width: 72%;
     height: auto;
     border-radius: 5px;
}
#textoContato input[type = submit]{
    width: 60px;
    height: 30px;

    border: none; /*SEM BORDA*/
    border-radius: 5px;
    color: white;
    background-color: black;
    
    margin-right: 28%;
    
    float: right; /*COLOCA PARA O LADO DIREITO*/
}

/*TEXTOS, TITULOS E SUBTITULOS*/
.titulo{
    margin-top: 0;
    font-size: 30px;
    color: black;
}
/*TITULO DO INDEX*/
.tituloIN{
    margin-top: 0;
    font-size: 20px;
    color: black;
}
.texto{
    margin-top: 0;
    font-size: 15px;
    color: rgb(62, 62, 62);
}